# ===== Start .gitignore =====
# Logs
logs
*.log

# Build directories
js
assets

# Dependency directory
# https://docs.npmjs.com/misc/faq#should-i-check-my-node-modules-folder-into-git
node_modules
bower_components
# ===== End .gitignore =====

